/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.body-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h-100 {
  height: 100%;
}

w-100 {
  width: 100%;
}

/*  Toast  */

.alert {
  padding: 0.8rem;
  margin: 1rem 2rem;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
.alert-danger {
  background: red;
  color: #333;
}

.alert-success {
  background: green;
  color: #333;
}

/* Navbar */

.navbar {
  height: 10vh;
  width: 100%;
  overflow: hidden;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--dark-color);
}

/* content */

.body-content {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

/* Homepage */

.homepage {
  height: 90vh;
  background-color: black;
}

.homepage span {
  font-family: "Style Script", cursive;
  color: #7a3a2d;
}

.homepage-background {
  height: 400px;
  width: 400px;
  opacity: 0.5;
}

/* auth page */

.auth-page {
  height: 100%;
  display: grid;
}

/* dashboard  */

.site-layout .site-layout-background {
  background: #fff;
}

.profile-action:hover {
  background-color: #2f4f4f;
}

/* user profile */

.select-option {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}
